<div class="row">
  <div id="status_message" class="status clear text-center text-success">
  </div>
</div>

<div class="row">
  <div class="span2 offset1">
    <%= render partial: 'mean_adjectives/mean_adjective_form', locals: {is_remote: true} %>
  </div>

  <div class="span2 offset2">
    <%= render partial: 'crude_nouns/crude_noun_form', locals: {is_remote: true} %>
  </div>

  <div class="span2 offset2">
    <%= render partial: 'random_nouns/random_noun_form', locals: {is_remote: true} %>
  </div>

</div>

<div class="row">
  <div id="mean_adjectives_container" class="span2 offset1">
    <ul id="mean_adjective_list" class="unstyled">
      <% for @current_mean_adjective in @mean_adjectives %>
        <li id="ma_<%= @current_mean_adjective.id %>">
          <%= link_to @current_mean_adjective, method: :delete, remote: true do %>
            <i class="icon-remove"></i>
          <% end %>
          <%= @current_mean_adjective.word %> 
        </li>
      <% end %>
    </ul>
  </div>

  <div id="crude_nouns_container" class="span2 offset2">
    <ul id="crude_noun_list" class="unstyled">
      <% for @current_crude_noun in @crude_nouns %>
        <li id="cn_<%= @current_crude_noun.id %>">
          <%= link_to @current_crude_noun, method: :delete, remote: true do %>
            <i class="icon-remove"></i>
          <% end %>
          <%= @current_crude_noun.word %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="random_nouns_container" class="span2 offset2">
    <ul id="random_noun_list" class="unstyled">
      <% for @current_random_noun in @random_nouns %>
        <li id="rn_<%= @current_random_noun.id %>">
          <%= link_to @current_random_noun, method: :delete, remote: true do %>
            <i class="icon-remove"></i>
          <% end %>
          <%= @current_random_noun.word %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
