<% provide(:title, 'Home') %>

<h1>Home</h1>

<div id="insult-generator-container">
  <h2>Generate Insult</h2>
</div>

<div id="word-admin-container">

  <div id="add-words-container">
    <h2>Add Words</h2>
    <div class="row">
      <div class="span2 offset2">
        <%= render partial: 'word/word_form', locals: {is_remote: false, word_category: @mean_adjective_category} %>
      </div>
      <div class="span2 offset2">
        <%= render partial: 'word/word_form', locals: {is_remote: false, word_category: @crude_noun_category} %>
      </div>
      <div class="span2 offset2">
        <%= render partial: 'word/word_form', locals: {is_remote: false, word_category: @random_noun_category} %>
      </div>
    </div>
  </div>
  <div id="previously-added-words-container">
    <h2>Previously Added Words</h2>

    <div class="row">
      <div class="span2 offset1">
        <%= render partial: 'word/word_list', locals: {word_list: @mean_adjectives} %>
      </div>

      <div class="span2 offset2">
        <%= render partial: 'word/word_list', locals: {word_list: @crude_nouns} %>
      </div>

      <div class="span2 offset2">
        <%= render partial: 'word/word_list', locals: {word_list: @random_nouns} %>
      </div>
    </div>
  </div>

</div>
